*{
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

.datos{
    color: black;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
   /*padding-top: 0px;*/
}

.titulos{
    font-size: 30px;
    color: grey;
    font-weight: normal ;
    padding-top: 20px;
    margin-bottom: 0px;
}

h2{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin: 0;
    vertical-align:middle;
    justify-content:right;
}
p{
    margin: 0px 25px;
}

.datos li{
    list-style-position: inside;
    text-align: center;
}

.datos-txt{
    padding-top: 20px;
}

.row-personal{
margin-top:  10px;
display: flex;
align-items: center;
}

.pic-cv{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.name-cv{
    display: flex;
    justify-content: flex-start;
    width: 50px;
    padding: 10px;

}

.align-name{
    display: flex;
    align-items: center;
}

.fa-graduation-cap, .fa-user, .fa-id-card, .fa-location-dot, .fa-phone, .fa-envelope, .fa-pen-clip, .fa-magnifying-glass{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*.fa-angle-down{
    justify-content: start;
}*/

.btn{
    margin-top:10px;
    cursor: pointer;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

/*section col {
    width: 50px;
}*/

.contenido{
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color:rgb(248, 248, 248);
}

.contentBx{
    padding: 0px 10px;
}

.contentBx.active .contenido{
   height: 100%;
   transition: all 0.5s ease-in-out;
}

.contentBx.active .btn-arrow{
    transform:rotate(180deg) ;
    transition: all 0.5s ease-in-out;
}

.row-btn{
    align-items: center;
    display: flex;
}

.contacto{
    line
}