*{
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
    box-sizing: border-box;
}



.background{
    background-position: 0 0,15px 15px;
    height: 100vh;
    overflow: auto;
    cursor: default;
    background-color: #EEEEEE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='324' height='324' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23605E61' stroke-width='2.1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23080904'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

.recuadro{
    border-radius: 5px;
    background-color:#605e61;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 30px 0 30px 0;
    box-shadow: 0px 0px 20px 0px #080904;
}

.datos-contenido{
    padding: 30px 40px;
}

.datos-contenido span, p, ul{
    color:#080904;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.titulos , .titulos p{
    font-size: 30px;
    color: #eeeeed;
    font-weight: normal;
    margin-bottom: 0px;
}

.contenido .fa-solid {
    color: #eeeeed;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    color: #eeeeed;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #080904;
}

.name-cv{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 30px;
    color:  #080904;
    font-weight: normal;
    margin: 0;
    vertical-align:middle;
    justify-content:right;
}

p{
    margin: 0px 25px;
}

.contenido li{
    list-style-position: inside;
    text-align: center;
}

.row-personal{
    display: flex;
    justify-content: center;
}

.pic-cv{
    padding-top: 10px;
}

#fotocv {
    box-shadow: 0 0 4px #121210;
}


.fa-graduation-cap, .fa-user, .fa-id-card, .fa-location-dot, .fa-phone, .fa-envelope, .fa-pen-clip, .fa-magnifying-glass, .fa-inbox, .fa-briefcase{
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#080904;;
}

.btn{
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.encabezado{
    border-radius: 5px;
    background-color: #4bb8a5;
    box-shadow: inset 0 0 4px #eeeeed;
    margin-bottom: 10px;
}

.contenido{
    transition: all 1s ease-out;
    display: block;
    background-color: #4bb8a5;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: inset 0 0 4px #eeeeed;
}
  
.pulsable.active + .contenido{
    transition: all 2s ease-out;
    max-height: 1000px;
    margin: 10px 0 10px 0;
}

.pulsable.active + .background{
    max-height: 2500px;
}

.pulsable.active .btn-arrow{
    transform:rotate(-180deg) ;
}

.btn-arrow{
    color:#4bb8a5;
    transition: all 0.5s ease-in-out;
}

.row-btn{
    align-items: center;
    display: flex;
}

.desplegable{
    padding: 0
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-celda{
    padding-right: 0;
}

.form-txt{
    font-size: 20px;
    color:#080904;
    font-weight: normal ;
    margin-bottom: 0px;
    padding: 30px 20px 30px 20px;
}

hr{
    margin-left: 25%;
    width:50%;
    height:3px;
    border-width:0;
    color:#eeeeed;
    background-color:#eeeeed;
}

.row-experiencia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-conocimientos{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}

textarea{
    margin: 3px 0px;
}
